<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#2c82ba">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adrenaline Fest | Homepage</title>
    <meta name="Description" content="Want to read something interesting? You are at the right place to explore beyond Knowledge!">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <!-- Jquery Complete -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lateef&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
    <!-- animate css -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" /> -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Vue js Development -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <!-- Custom Css -->
</head>
<style type="text/css">
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
.varela {
    font-family: "Varela Round", sans-serif ;
}
p.varela {
    line-height: 2.5;
    /*font-size: 120%;*/
}
 .lateef {
    font-family: 'Lateef', cursive;
 }
 .merienda {
    font-family: 'Merienda', cursive;
 }
 .cookie {
    font-family: 'Cookie', cursive;
 }
 .indie-flower {
    font-family: 'Indie Flower', cursive;
 }
 .sacramento {
    font-family: 'Sacramento', cursive;
 }
 .lato {
    font-family: 'Lato', sans-serif;
 }
 .noto {
    font-family: 'Noto Serif', serif;
 }
 .dis-1 {
    font-size: 2.3rem;
 }
@media (min-width: 576px) {
  .dis-1 {
    font-size:3rem;
  }
@media (min-width: 768px) {
  .dis-1 {
    font-size:4rem;
  }
@media (min-width: 992px) {
  .dis-1 {
    font-size:5rem;
  }
@media (min-width: 1200px) {
  .dis-1 {
    font-size:6rem;
  }
}
</style>
<body>
	<header>
     <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand">
            <img src="./static/logo.png" alt="af logo" style="width: 50px">
        </a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menubar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="menubar">
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <a href="#" class="nav-link active">Home</a>
                </li>
                <li class="nav-item px-3">
                    <a href="#" class="nav-link">Blog</a>
                </li>
                <li class="nav-item px-3">
                    <a href="#" class="nav-link">Memes</a>
                </li>
                <li class="nav-item px-3">
                    <a href="#" class="nav-link">Quotes</a>
                </li>
            </ul>
        </div>
     </nav>   
    </header>
	<main>
        <!-- Landing Page Section -->
        <section class="container-fluid bg-white">
            <div class="row py-4 d-flex align-content-center" style="min-height: 90vh;">
                <div class="col-12 col-lg-8 my-lg-auto my-3 text-center ">
                    <h1 class="merienda dis-1">Adrenaline Fest</h1>
                    <p class="merienda">&#8220;A Place To Explore Beyond Knowledge&#8221;</p>
                    <!-- <h1 class="sacramento dis-1">Adrenaline Fest</h1> -->
                    <a class="btn btn-success shadow my-4 d-none d-lg-inline-block" href="#">Get Started</a>
                </div>
                <div class="col-8 col-md-6 col-lg-4 col text-center my-auto mx-auto d-lg-block">
                    <img src="./static/landing.png" alt="landing page vector image" class="w-100">
                    <a class="btn btn-success shadow my-4 d-inline-block d-lg-none" href="#">Get Started</a>
                </div>
            </div>
        </section>

        <section class="container varela mb-3" style="line-height: 2.5;">
            <h1 class="text-center">About Us</h1>
            <p style="font-size: 120%">
                The Internet is place for everything and for everyone and we are for such netizens
                who wants to refresh their brain. Let it be Arts or Entertainment we feed for your
                craving. Are you looking for any articles to read or seeking for inspirations and
                motivations or just tired of surfing the internet and want something interesting,
                we have got you. Adrenaline Fest is a one-stop place for all this things.

        </section>
        <section class="container my-3">
            <article>
                <h1 class="text-center varela"></h1>
            </article>
            <!-- Blogging -->
            <article class="card px-3 my-5 shadow rounded-lg">
            <div class="row d-flex flex-row-reverse align-content-center">
                <div class="col-12 col-lg-4 my-auto text-center">
                    <img src="./static/blog1.jpg" style="width: 100%;">
                </div>
                <div class="col-12 col-lg-8 my-auto noto">
                    <h2 class="text-center noto">Blogging</h2>
                    <p class="varela mt-3 text-center">
                        Our Blog has various interesting articles on different topics. Each articles are well curated for the readers 
                        which provides knowledge with fun!
                    </p>
                </div>
            </div>
            </article>
            <!-- Memes -->
            <article class="card px-3 my-5 shadow rounded-lg">
            <div class="row d-flex align-content-center">
                <div class="col-12 col-lg-4 my-auto text-center">
                    <img class="rounded-circle my-3" src="./static/social2.jpg" style="width: 60%;">
                </div>
                <div class="col-12 col-lg-8 my-auto noto">
                    <h2 class="text-center noto">Memes</h2>
                    <p class="varela mt-3 text-center">
                        We have a huge collection of memes with 100+ tags. Search for your favourite meme and Enjoy.
                    </p>
                </div>
            </div>
            </article>
            <!-- Quotes -->
            <article class="card px-3 my-5 shadow rounded-lg">
            <div class="row d-flex flex-row-reverse align-content-center">
                <div class="col-12 col-lg-4 my-auto text-center">
                    <img class="rounded-circle my-3" src="./static/quote1.jpg" style="width: 60%;">
                </div>
                <div class="col-12 col-lg-8 my-auto noto">
                    <h2 class="text-center noto">Quotes</h2>
                    <p class="varela mt-3 text-center">
                        Get your daily dose of inspiration with our &#8220;Quote of the Day&#8221; and
                        stay motivated. 
                    </p>
                </div>
            </div>
            </article>
        </section>
	</main>
	<footer class="container-fluid bg-dark text-white">
        <section class="row">
            <!-- <div class="col-6">
                <ul class="nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Blog</a>
                    </li>
                </ul>
            </div> -->
            <div class="col-12 text-center">
                <p class="pt-3">
                    <span class="px-2"><i class="fas fa-copyright"></i></span>Adrenaline Fest 2020
                </p>
            </div>
        </section>
    </footer>

</body>
</html>